{% assign namespace = "japanesetools" %}
{% if template.name == "product" and metafields == "product" %}
  {% for metafield in product.metafields[namespace] %}
	 {% if metafield.first contains "_image_miracle" %}
		{{ metafield.first | remove: "_image_miracle" }}
		: <img src="{{ metafield | last }}" alt="{{ metafield.first | remove: "_image_miracle" }}" class="front_img">
         {% elsif metafield.first contains "_download_file" %}
                {{ metafield.first | remove: "_download_file" }}
		: <a  href="{{ metafield | last }}" alt="{{ metafield.first | remove: "_download_file" }}">{{ metafield | last | split: "/" | last | split: "?" | first }}</a>  
         {% elsif metafield.first contains "_url_data" %}
                {{ metafield.first | remove: "_url_data" }}
		: <a  href="{{ metafield | last }}" target="_blank" alt="{{ metafield.first | remove: "_url_data" }}">{{ metafield | last }}</a>        
         {% elsif metafield.first contains "_tel_data" %}
                {{ metafield.first | remove: "_tel_data" }}
		: <a  href="tel:{{ metafield | last }}" target="_blank" alt="{{ metafield.first | remove: "_tel_data" }}">{{ metafield | last }}</a>   
         {% elsif metafield.first contains "_email_data" %}
                {{ metafield.first | remove: "_email_data" }}
		: <a  href="mailto:{{ metafield | last }}" target="_blank" alt="{{ metafield.first | remove: "_email_data" }}">{{ metafield | last }}</a>           
	 {% else %}
		{{ metafield | first }}:{{ metafield | last }}
	 {% endif %}<br>
  {% endfor %}
{% elsif template.name == "product" and metafields == "variants" %}
   {% for variant in product.variants %}
	{% for metafield in variant.metafields[namespace] %}
	   {% if metafield.first contains "_image_miracle" %}
		  {{ metafield.first | remove: "_image_miracle" }}
		  : <img src="{{ metafield | last }}" alt="{{ metafield.first | remove: "_image_miracle" }}" class="front_img">
           {% elsif metafield.first contains "_download_file" %}
                {{ metafield.first | remove: "_download_file" }}
		: <a  href="{{ metafield | last }}" alt="{{ metafield.first | remove: "_download_file" }}">{{ metafield | last | split: "/" | last | split: "?" | first }}</a>    
	   {% elsif metafield.first contains "_url_data" %}
                {{ metafield.first | remove: "_url_data" }}
		: <a  href="{{ metafield | last }}" target="_blank" alt="{{ metafield.first | remove: "_url_data" }}">{{ metafield | last }}</a>        
           {% elsif metafield.first contains "_tel_data" %}
                {{ metafield.first | remove: "_tel_data" }}
		: <a  href="tel:{{ metafield | last }}" target="_blank" alt="{{ metafield.first | remove: "_tel_data" }}">{{ metafield | last }}</a>   
           {% elsif metafield.first contains "_email_data" %}
                {{ metafield.first | remove: "_email_data" }}
		: <a  href="mailto:{{ metafield | last }}" target="_blank" alt="{{ metafield.first | remove: "_email_data" }}">{{ metafield | last }}</a>    
           {% else %}
		  {{ metafield | first }}:{{ metafield | last }}
	   {% endif %}<br>
	{% endfor %}
  {% endfor %}
{% elsif template.name == "collection" and metafields == "collection" %}
  {% for metafield in collection.metafields[namespace] %}
	 {% if metafield.first contains "_image_miracle" %}
		{{ metafield.first | remove: "_image_miracle" }}
		: <img src="{{ metafield | last }}" alt="{{ metafield.first | remove: "_image_miracle" }}" class="front_img">
         {% elsif metafield.first contains "_download_file" %}
                {{ metafield.first | remove: "_download_file" }}
		: <a  href="{{ metafield | last }}" alt="{{ metafield.first | remove: "_download_file" }}">{{ metafield | last | split: "/" | last | split: "?" | first }}</a>
         {% elsif metafield.first contains "_url_data" %}
                {{ metafield.first | remove: "_url_data" }}
		: <a  href="{{ metafield | last }}" target="_blank" alt="{{ metafield.first | remove: "_url_data" }}">{{ metafield | last }}</a>        
         {% elsif metafield.first contains "_tel_data" %}
                {{ metafield.first | remove: "_tel_data" }}
		: <a  href="tel:{{ metafield | last }}" target="_blank" alt="{{ metafield.first | remove: "_tel_data" }}">{{ metafield | last }}</a>   
         {% elsif metafield.first contains "_email_data" %}
                {{ metafield.first | remove: "_email_data" }}
		: <a  href="mailto:{{ metafield | last }}" target="_blank" alt="{{ metafield.first | remove: "_email_data" }}">{{ metafield | last }}</a>           
	 {% else %}
		{{ metafield | first }}:{{ metafield | last }}
	 {% endif %}<br>
  {% endfor %}
{% elsif template.name == "page" and metafields == "page" %}
  {% for metafield in page.metafields[namespace] %}
	 {% if metafield.first contains "_image_miracle" %}
		{{ metafield.first | remove: "_image_miracle" }}
		: <img src="{{ metafield | last }}" alt="{{ metafield.first | remove: "_image_miracle" }}" class="front_img">
         {% elsif metafield.first contains "_download_file" %}
                {{ metafield.first | remove: "_download_file" }}
		: <a  href="{{ metafield | last }}" alt="{{ metafield.first | remove: "_download_file" }}">{{ metafield | last | split: "/" | last | split: "?" | first }}</a>
         {% elsif metafield.first contains "_url_data" %}
                {{ metafield.first | remove: "_url_data" }}
		: <a  href="{{ metafield | last }}" target="_blank" alt="{{ metafield.first | remove: "_url_data" }}">{{ metafield | last }}</a>        
         {% elsif metafield.first contains "_tel_data" %}
                {{ metafield.first | remove: "_tel_data" }}
		: <a  href="tel:{{ metafield | last }}" target="_blank" alt="{{ metafield.first | remove: "_tel_data" }}">{{ metafield | last }}</a>   
         {% elsif metafield.first contains "_email_data" %}
                {{ metafield.first | remove: "_email_data" }}
		: <a  href="mailto:{{ metafield | last }}" target="_blank" alt="{{ metafield.first | remove: "_email_data" }}">{{ metafield | last }}</a>           
	 {% else %}
		{{ metafield | first }}:{{ metafield | last }}
	 {% endif %}<br>
  {% endfor %}
{% elsif template.name == "blog" and metafields == "blog" %}
  {% for metafield in blog.metafields[namespace] %}
	 {% if metafield.first contains "_image_miracle" %}
		{{ metafield.first | remove: "_image_miracle" }}
		: <img src="{{ metafield | last }}" alt="{{ metafield.first | remove: "_image_miracle" }}" class="front_img">
         {% elsif metafield.first contains "_download_file" %}
                {{ metafield.first | remove: "_download_file" }}
		: <a  href="{{ metafield | last }}" alt="{{ metafield.first | remove: "_download_file" }}">{{ metafield | last | split: "/" | last | split: "?" | first }}</a>   
         {% elsif metafield.first contains "_url_data" %}
                {{ metafield.first | remove: "_url_data" }}
		: <a  href="{{ metafield | last }}" target="_blank" alt="{{ metafield.first | remove: "_url_data" }}">{{ metafield | last }}</a>        
         {% elsif metafield.first contains "_tel_data" %}
                {{ metafield.first | remove: "_tel_data" }}
		: <a  href="tel:{{ metafield | last }}" target="_blank" alt="{{ metafield.first | remove: "_tel_data" }}">{{ metafield | last }}</a>   
         {% elsif metafield.first contains "_email_data" %}
                {{ metafield.first | remove: "_email_data" }}
		: <a  href="mailto:{{ metafield | last }}" target="_blank" alt="{{ metafield.first | remove: "_email_data" }}">{{ metafield | last }}</a>           
	 {% else %}
		{{ metafield | first }}:{{ metafield | last }}
	 {% endif %}<br>
  {% endfor %}
{% elsif template.name == "article" and metafields == "article" %}
  {% for metafield in article.metafields[namespace] %}
	 {% if metafield.first contains "_image_miracle" %}
		{{ metafield.first | remove: "_image_miracle" }}
		: <img src="{{ metafield | last }}" alt="{{ metafield.first | remove: "_image_miracle" }}" class="front_img">
         {% elsif metafield.first contains "_download_file" %}
                {{ metafield.first | remove: "_download_file" }}
		: <a  href="{{ metafield | last }}" alt="{{ metafield.first | remove: "_download_file" }}">{{ metafield | last | split: "/" | last | split: "?" | first }}</a>
         {% elsif metafield.first contains "_url_data" %}
                {{ metafield.first | remove: "_url_data" }}
		: <a  href="{{ metafield | last }}" target="_blank" alt="{{ metafield.first | remove: "_url_data" }}">{{ metafield | last }}</a>        
         {% elsif metafield.first contains "_tel_data" %}
                {{ metafield.first | remove: "_tel_data" }}
		: <a  href="tel:{{ metafield | last }}" target="_blank" alt="{{ metafield.first | remove: "_tel_data" }}">{{ metafield | last }}</a>   
         {% elsif metafield.first contains "_email_data" %}
                {{ metafield.first | remove: "_email_data" }}
		: <a  href="mailto:{{ metafield | last }}" target="_blank" alt="{{ metafield.first | remove: "_email_data" }}">{{ metafield | last }}</a>           
	 {% else %}
		{{ metafield | first }}:{{ metafield | last }}
	 {% endif %}<br>
  {% endfor %}
{% endif %}


{% if metafields == "customer" %}
  {% for metafield in customer.metafields[namespace] %}
	 {% if metafield.first contains "_image_miracle" %}
		{{ metafield.first | remove: "_image_miracle" }}
		: <img src="{{ metafield | last }}" alt="{{ metafield.first | remove: "_image_miracle" }}" class="front_img">
         {% elsif metafield.first contains "_download_file" %}
                {{ metafield.first | remove: "_download_file" }}
		: <a  href="{{ metafield | last }}" alt="{{ metafield.first | remove: "_download_file" }}">{{ metafield | last | split: "/" | last | split: "?" | first }}</a>
         {% elsif metafield.first contains "_url_data" %}
                {{ metafield.first | remove: "_url_data" }}
		: <a  href="{{ metafield | last }}" target="_blank" alt="{{ metafield.first | remove: "_url_data" }}">{{ metafield | last }}</a>        
         {% elsif metafield.first contains "_tel_data" %}
                {{ metafield.first | remove: "_tel_data" }}
		: <a  href="tel:{{ metafield | last }}" target="_blank" alt="{{ metafield.first | remove: "_tel_data" }}">{{ metafield | last }}</a>   
         {% elsif metafield.first contains "_email_data" %}
                {{ metafield.first | remove: "_email_data" }}
		: <a  href="mailto:{{ metafield | last }}" target="_blank" alt="{{ metafield.first | remove: "_email_data" }}">{{ metafield | last }}</a>           
	 {% else %}
		{{ metafield | first }}:{{ metafield | last }}
	 {% endif %}<br>
  {% endfor %}
{% endif %}
{% if metafields == "order" %}
		{% for metafield in order.metafields[namespace] %}
	 {% if metafield.first contains "_image_miracle" %}
		{{ metafield.first | remove: "_image_miracle" }}
		: <img src="{{ metafield | last }}" alt="{{ metafield.first | remove: "_image_miracle" }}" class="front_img">
         {% elsif metafield.first contains "_download_file" %}
                {{ metafield.first | remove: "_download_file" }}
		: <a  href="{{ metafield | last }}" alt="{{ metafield.first | remove: "_download_file" }}">{{ metafield | last | split: "/" | last | split: "?" | first }}</a>  
         {% elsif metafield.first contains "_url_data" %}
                {{ metafield.first | remove: "_url_data" }}
		: <a  href="{{ metafield | last }}" target="_blank" alt="{{ metafield.first | remove: "_url_data" }}">{{ metafield | last }}</a>        
         {% elsif metafield.first contains "_tel_data" %}
                {{ metafield.first | remove: "_tel_data" }}
		: <a  href="tel:{{ metafield | last }}" target="_blank" alt="{{ metafield.first | remove: "_tel_data" }}">{{ metafield | last }}</a>   
         {% elsif metafield.first contains "_email_data" %}
                {{ metafield.first | remove: "_email_data" }}
		: <a  href="mailto:{{ metafield | last }}" target="_blank" alt="{{ metafield.first | remove: "_email_data" }}">{{ metafield | last }}</a>           
	 {% else %}
		{{ metafield | first }}:{{ metafield | last }}
	 {% endif %}<br>
  {% endfor %}
{% endif %}
{% if metafields == "shop" %}
		{% for metafield in shop.metafields[namespace] %}
	 {% if metafield.first contains "_image_miracle" %}
		{{ metafield.first | remove: "_image_miracle" }}
		: <img src="{{ metafield | last }}" alt="{{ metafield.first | remove: "_image_miracle" }}" class="front_img">
         {% elsif metafield.first contains "_download_file" %}
                {{ metafield.first | remove: "_download_file" }}
		: <a  href="{{ metafield | last }}" alt="{{ metafield.first | remove: "_download_file" }}">{{ metafield | last | split: "/" | last | split: "?" | first }}</a>  
         {% elsif metafield.first contains "_url_data" %}
                {{ metafield.first | remove: "_url_data" }}
		: <a  href="{{ metafield | last }}" target="_blank" alt="{{ metafield.first | remove: "_url_data" }}">{{ metafield | last }}</a>        
         {% elsif metafield.first contains "_tel_data" %}
                {{ metafield.first | remove: "_tel_data" }}
		: <a  href="tel:{{ metafield | last }}" target="_blank" alt="{{ metafield.first | remove: "_tel_data" }}">{{ metafield | last }}</a>   
         {% elsif metafield.first contains "_email_data" %}
                {{ metafield.first | remove: "_email_data" }}
		: <a  href="mailto:{{ metafield | last }}" target="_blank" alt="{{ metafield.first | remove: "_email_data" }}">{{ metafield | last }}</a>           
	 {% else %}
		{{ metafield | first }}:{{ metafield | last }}
	 {% endif %}<br>
  {% endfor %}
{% endif %}
<style>
.front_img{
    width:100px;
}
</style>